.container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    flex-wrap: wrap;
    /*height: 50vh; */
    align-items: center;
    /* align-content: flex-start; */

}
.item{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 2px solid red;
}